<section class="tfp_projects" id="projects">
    <h2 class="tfp_heading">Projects</h2>
    <div class="tfp_container">
      <article class="tfp_box">
        <img src="img/rapunzel.jpeg">
        <h3>Model with extra long hair needed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a class="tfp_btn_secondary" href="#">Read more</a>
      </article>
      <article class="tfp_box">
        <img src="img/rapunzel.jpeg">
        <h3>Model with extra long hair needed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        
        </p>
        <a class="tfp_btn_secondary" href="#">Read more</a>
      </article>
      <article class="tfp_box">
        <img src="img/rapunzel.jpeg">
        <h3>Model with extra long hair needed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a class="tfp_btn_secondary" href="#">Read more</a>
      </article>
      <article class="tfp_box">
        <img src="img/rapunzel.jpeg">
        <h3>Model with extra long hair needed</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a class="tfp_btn_secondary" href="#">Read more</a>
      </article>
  </div>
  
</section>