<main>
    <section class="tfp_login">
        <h2>Update account</h2>
        <form method="post" action="/update">
            <fieldset class="tfp_register">
                <label for="name" >Name</label>
                <input name="name" type="text" required>
            </fieldset>
        <input type="submit" value="update!" class="tfp_btn_primary">
        </form>
    </section>


</main>