
<%- include('includes/head.ejs'); %>

<%- include('includes/header-login.ejs'); %>
<main>
    <section class="tfp_wrapper-s">
        <h1 id="tfp-h1">Page not found</h1>
        <p>Oops, something went wrong...</p>
        <p>You can go back to the <a href="/">homepage.</a></p>
        
</section>

</main>
<%- include('includes/footer.ejs'); %>